@use './color' as color;
@use './placeholder';
@use './mixins';

.headerBtn{
    @include mixins.btn;

    &:hover{
        color: color.$custom-blue;
        background-color: color.$shadow-blue;
        transition: .30s ease-in-out;
    }
}

.todoBtn{
    @extend %todoBtn-text;
    @include mixins.btn;
    width: 50%;
    font-size: 14px;
    border-bottom: 1px solid color.$border-color;
    padding: 1.563rem 0 0.938rem;

    &:active{
        color: color.$custom-blue;
    }

}

.procedureBtn{
    @include mixins.btn;
    width: 150px;
    height: 40px;
    @extend %large-heading;
    font-size: 14px;
    color: color.$custom-blue;
    border: 1px solid color.$custom-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.313rem 0.625rem;
    border-radius: 5px;
}