.sidebar{
    width: 300px;
    height: 844px;
    padding: 2.063rem 1.188rem 0;
    overflow-y: scroll;

    &__logo{
        width: 230px;
        height: 170px; 
        padding-block-end: 0.875rem;
    }
}